<app-nav-bar-cliente></app-nav-bar-cliente>
<br>
<div class="container fade-in">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Rut</label>
            <input type="text" class="form-control" #rut aria-describedby="emailHelp" placeholder="Ingrese Su Rut">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text" class="form-control" #nombre aria-describedby="emailHelp" placeholder="Ingrese Su Primer Nombre">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Apellido</label>
            <input type="text" class="form-control" #apellido aria-describedby="emailHelp" placeholder="Ingrese Su Primer Apellido">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Direccion</label>
            <input type="text" class="form-control" #direccion aria-describedby="emailHelp" placeholder="Ingrese Su Direccion">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Correo</label>
            <input type="email" class="form-control" #correo aria-describedby="emailHelp" placeholder="Ingrese Su Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Télefono</label>
            <input type="text" class="form-control" #telefono placeholder="Ingrese su numero de contacto">
        </div>
        <button (click)="guardar(rut.value,nombre.value,apellido.value,direccion.value,correo.value,telefono.value)" type="button" class="btn btn-primary">Crear  <i class="fa fa-paperclip" aria-hidden="true"></i></button>
    </form>
</div>
